/*media*/
@media (min-width: 1141px) {
    .p-default {
        padding-left: 220px;
        padding-right: 220px;
    }
    .px-default {
        padding-left: 220px;
        padding-right: 220px;
    }
    .p-show-more{
        padding: 150px 350px;
    }
    .p-article{
        padding: 140px 120.4px 50px 120.4px;
    }
    .big-h1{
        width: 1000px;
        height: 130px;
        gap: 0px;
        opacity: 0px;
        font-family: Epilogue;
        font-size: 45px;
        font-weight: 500;
        line-height: 65px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .p-contact{
        padding: 0px 220px 100px 220px;
    }
}

@media (max-width: 1140px) {
    .p-default {
        padding-left: 15;
        padding-right: 15;
        margin: 0;
    }
    .px-default {
        padding-left: 15;
        padding-right: 15;
        margin: 0;
    }
    .p-show-more{
        align-items: center;
        align-self: center;
    }
    .menu-item{
        display: none;
    }
    .menu-logo {
        display: inline;
    }
    .p-article{
        padding: 140px 0px 50px 0px;
    }
    .big-h1{
        width: auto;
        height: auto;
        gap: 0px;
        opacity: 0px;
        font-family: Epilogue;
        font-size: 45px;
        font-weight: 500;
        line-height: 65px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .p-contact{
        padding: 0px 0px 100px 0px;
    }
}
/*header*/
.bg-header{
    background-color: #2B2B2B;
}

.active{
    color: #FFFFFF;
}

/**/
.epilogue{
    font-family: "Epilogue", sans-serif;
}
.p-default {
    padding-top: 160px;
    padding: 160px auto 60px auto;
    margin: auto;
}

.px-default {
    padding-left: auto;
    padding-right: auto;
    margin: auto;
}
.font-nav-bar{
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
h1{
    font-family: Epilogue;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

h2{
    font-family: "Epilogue", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
h3{
    font-family: Epilogue;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration: none;
}
p{
    font-family: Epilogue;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

a{
    text-decoration: none;
    color: inherit;
}
.opacity-40{
    opacity: 40%;
}

.opacity-60{
    opacity: 60%;
}
.nav-size{
    height: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}

body{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

}


.pt-100{
    padding-top: 100px;
}

.button{
    width: 95px;
    height: 32px;
}


.col-80{
    width: 80%;
}

.sm-img{
    width: 470px;
    height: 300px;
}

.button2{
    width: 58px;
    height: 32px;
}

.width-334{
    width: 334px;
}

.width-340{
    width: 340px;
}

.p-show-more{
    padding: auto auto;
}

#show-more{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 199.8px;
    height: 60px;
}

.show-more{
    font-family: sans-serif;
    font-size: 19px;
    color: white;
    background-color: #1976D2;
}

.footer{
    padding: 100px 0px;
}

/*Article*/
.p-article{
    padding: auto auto auto auto;
}

#back{
    font-family: Epilogue;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #A0A1A4;
}

.big-h1{
    width: auto;
    height: auto;
    gap: 0px;
    opacity: 0px;
    font-family: Epilogue;
    font-size: 45px;
    font-weight: 500;
    line-height: 65px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.img-man{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 0px;
    margin-left: 10px;
}
.p-input-text{
    height: 576px;
    width: 800px;
}

.width-470{
    width: 470px;
}

.width-370{
    width: 370px;
}

/*Contact*/
.p-contact{
    padding: auto auto auto auto;
}
